.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 80px 500px 500px 50px;
  grid-template-areas: "header header" "titulo titulo" "main main" "info contacto" "footer footer";
}

.contenedorS {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 80px 500px 500px 500px 50px;
  grid-template-areas: "header header" "titulo titulo" "main main" "mapa mapa" "info1 info1" "footer footer";
}

.contenedorP {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 80px 400px 400px 50px;
  grid-template-areas: "header" "titulo" "main" "info" "footer";
}

.contenedorG {
  display: grid;
  grid-template-columns: 1900px;
  grid-template-rows: 100px 80px 200px 1700px 1300px 1300px 100px;
  grid-template-areas: "header" "titulo" "main" "info1" "info2" "info3" "footer";
}

.imgGaleria1 {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "imagen1 imagen1 imagen2 imagen3" "imagen4 imagen5 imagen5 imagen3" "imagen4 imagen6 imagen7 imagen3" "imagen4 imagen8 imagen8 imagen8";
  justify-content: center;
  padding: 10px;
}

.imgGaleria2 {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas: "imagen1 imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6 imagen3" "imagen4 imagen5 imagen6 imagen3";
  justify-content: center;
  padding: 10px;
}

.imgGaleria3 {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "imagen2 imagen9 imagen5 imagen4" "imagen6 imagen8 imagen8 imagen4" "imagen1 imagen3 imagen3 imagen4" "imagen1 imagen7 imagen7 imagen7";
  justify-content: center;
  padding: 10px;
}

.contenedorC {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 80px 200px 400px 100px;
  grid-template-areas: "header" "titulo" "main" "info" "footer";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  grid-area: header;
  background-color: #4f2621;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}
.header ul li {
  list-style-type: none;
  padding: 30px;
}
.header ul li a {
  text-decoration: none;
  color: black;
}
.header ul li a:hover {
  color: brown;
}

.titulo {
  grid-area: titulo;
  background-color: #6b5d4d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
  font-weight: 700;
}

.footer {
  grid-area: footer;
  background-color: #7d1a0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 35px;
}

.infoIndex1 {
  grid-area: main;
  background-color: #b0a18f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoIndex1 p {
  font-size: 25px;
  padding: 20px;
}
.infoIndex1 img {
  width: 500px;
  padding: 20px;
}

.infoIndex2 {
  grid-area: info;
  background-color: #cd8c52;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoIndex2 p {
  font-size: 25px;
  padding: 20px;
}
.infoIndex2 img {
  width: 300px;
}

.contactoIndex {
  grid-area: contacto;
  background-color: #fbeed3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.infoSobremi1 {
  grid-area: main;
  background-color: #b0a18f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoSobremi1 p {
  font-size: 25px;
  padding: 20px;
}
.infoSobremi1 img {
  width: 450px;
}

.infoSobremi2 {
  grid-area: mapa;
  background-color: #f2d694;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoSobremi2 p {
  font-size: 25px;
  padding: 20px;
}
.infoSobremi2 iframe {
  padding: 20px;
}

.infoSobremi3 {
  grid-area: info1;
  background-color: #cd8c52;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoSobremi3 p {
  font-size: 22px;
  padding-top: 20px;
}
.infoSobremi3 img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  width: 500px;
}

.footer {
  grid-area: footer;
  background-color: #7d1a0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 35px;
}

.header {
  grid-area: header;
}

.titulo {
  grid-area: titulo;
}

.infoProductos1 {
  grid-area: main;
  background-color: #b0a18f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.infoProductos1 p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.infoProductos1 iframe {
  width: 900px;
  text-align: center;
  padding: 15px;
}

.infoProductos2 {
  grid-area: info;
  background-color: #cd8c52;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 30px;
}
.infoProductos2 div p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.infoProductos2 div ul {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.infoProductos2 div li {
  list-style-type: none;
}

.infoProductos2 img {
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 15px;
}

.footer {
  grid-area: footer;
  background-color: #7d1a0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 35px;
}

.infoGaleria1 {
  background-color: #b0a18f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.infoGaleria1 p {
  font-size: 25px;
  padding: 15px;
  text-align: center;
}
.infoGaleria1 ul {
  padding: 15px;
  font-size: 25px;
  text-align: center;
}
.infoGaleria1 ul li {
  list-style-type: none;
}
.infoGaleria1 ul li a {
  text-decoration: none;
  color: black;
}
.infoGaleria1 ul li a:hover {
  color: brown;
}

.infoGaleria2 {
  background-color: #cd8c52;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoGaleria2 h1 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria2 p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria2 div .imagen1 {
  grid-area: imagen1;
  background-image: url(../imagenes/Viajes/img1.jpg);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/Viajes/img2.jpg);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen3 {
  grid-area: imagen3;
  background-image: url(../imagenes/Viajes/img3.JPG);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen4 {
  grid-area: imagen4;
  background-image: url(../imagenes/Viajes/img4.JPG);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen5 {
  grid-area: imagen5;
  background-image: url(../imagenes/Viajes/img5.jpg);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen6 {
  grid-area: imagen6;
  background-image: url(../imagenes/Viajes/img6.jpg);
  background-position: center;
  margin: 5px;
}
.infoGaleria2 div .imagen7 {
  grid-area: imagen7;
  background-image: url(../imagenes/Viajes/img7.jpg);
  background-position: center;
  position: contain;
  margin: 5px;
}
.infoGaleria2 div .imagen8 {
  grid-area: imagen8;
  background-image: url(../imagenes/Viajes/img8.jpg);
  background-position: center;
  margin: 5px;
}

.infoGaleria3 {
  background-color: #cd8c52;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoGaleria3 h1 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria3 p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria3 div .imagen1 {
  grid-area: imagen1;
  background-image: url(../imagenes/Animales/img1.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria3 div .imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/Animales/img2.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria3 div .imagen3 {
  grid-area: imagen3;
  background-image: url(../imagenes/Animales/img3.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria3 div .imagen4 {
  grid-area: imagen4;
  background-image: url(../imagenes/Animales/img4.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria3 div .imagen5 {
  grid-area: imagen5;
  background-image: url(../imagenes/Animales/img5.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria3 div .imagen6 {
  grid-area: imagen6;
  background-image: url(../imagenes/Animales/img6.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}

.infoGaleria4 {
  background-color: #cd8c52;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoGaleria4 h1 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria4 p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.infoGaleria4 div .imagen1 {
  grid-area: imagen1;
  background-image: url(../imagenes/Amigos/img1.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/Amigos/img2.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen3 {
  grid-area: imagen3;
  background-image: url(../imagenes/Amigos/img3.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen4 {
  grid-area: imagen4;
  background-image: url(../imagenes/Amigos/img4.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen5 {
  grid-area: imagen5;
  background-image: url(../imagenes/Amigos/img5.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen6 {
  grid-area: imagen6;
  background-image: url(../imagenes/Amigos/img6.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen7 {
  grid-area: imagen7;
  background-image: url(../imagenes/Amigos/img7.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen8 {
  grid-area: imagen8;
  background-image: url(../imagenes/Amigos/img8.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.infoGaleria4 div .imagen9 {
  grid-area: imagen9;
  background-image: url(../imagenes/Amigos/img9.JPG);
  background-position: center;
  background-size: cover;
  margin: 5px;
}

.footer {
  grid-area: footer;
  background-color: #7d1a0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 35px;
}

.infoContacto1 {
  grid-area: main;
  background-color: #b0a18f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.infoContacto1 p {
  padding-top: 20px;
  font-size: 25px;
}
.infoContacto1 ul {
  font-size: 25px;
  text-decoration: none;
}
.infoContacto1 ul li {
  list-style-type: none;
  padding: 10px;
}

.infoContacto2 {
  grid-area: info;
  background-color: #cd8c52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoContacto2 h3 {
  padding: 20px;
  font-size: 30px;
}
.infoContacto2 div {
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #7d1a0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin: 35px;
}

@media screen and (max-width: 425px) {
  .contenedor {
    grid-template-columns: 425px;
    grid-template-rows: 500px 80px 800px 1300px 300px 250px;
    grid-template-areas: "header" "titulo" "main" "info" "contacto" "footer";
  }
  .header ul {
    grid-area: header;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .titulo {
    grid-area: titulo;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }
  .infoIndex1 {
    grid-area: main;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200;
  }
  .infoIndex1 img {
    width: 300px;
  }
  .infoIndex2 {
    grid-area: info;
    flex-wrap: wrap;
    text-align: center;
  }
  .infoIndex2 img {
    width: 300px;
  }
  .contactoIndex {
    grid-area: contacto;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    background-color: #fbeed3;
    text-align: center;
  }
  .contactoIndex p {
    padding: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorS {
    grid-template-columns: 425px;
    grid-template-rows: 400px 80px 800px 1000px 1200px 250px;
    grid-template-areas: "header" "titulo" "main" "mapa" "info1" "footer";
  }
  .header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }
  .infoSobremi1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .infoSobremi1 img {
    width: 250px;
    padding: 10px;
  }
  .infoSobremi2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .infoSobremi3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    text-align: center;
    padding: 20px;
  }
  .infoSobremi3 .imgSobremi2 {
    width: 400px;
  }
  .infoSobremi3 .imgSobremi3 {
    width: 400px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorP {
    grid-template-columns: 425px;
    grid-template-rows: 400px 80px 1100px 600px 300px;
    grid-template-areas: "header" "titulo" "main" "info" "footer";
  }
  .header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }
  .infoProductos1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .infoProductos2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorG {
    grid-template-columns: 425px;
    grid-template-rows: 400px 80px 400px 1700px 1300px 3200px 300px;
    grid-template-areas: "header" "titulo" "main" "info1" "info2" "info3" "footer";
  }
  .header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }
  .infoGaleria1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .infoGaleria2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 200px;
  }
  .infoGaleria2 .imgGaleria1 {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 200px 300px 200px 300px 300px;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7";
  }
  .infoGaleria2 .imgGaleria1 .imagen1 {
    grid-area: img1;
    background-image: url(../imagenes/Viajes/img1.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen2 {
    grid-area: img2;
    background-image: url(../imagenes/Viajes/img2.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen3 {
    grid-area: img3;
    background-image: url(../imagenes/Viajes/img4.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen4 {
    grid-area: img4;
    background-image: url(../imagenes/Viajes/img5.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen5 {
    grid-area: img5;
    background-image: url(../imagenes/Viajes/img6.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen6 {
    grid-area: img6;
    background-image: url(../imagenes/Viajes/img7.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria2 .imgGaleria1 .imagen7 {
    grid-area: img7;
    background-image: url(../imagenes/Viajes/img8.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 200px;
  }
  .infoGaleria3 .imgGaleria2 {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 150px 200px 250px 300px;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
  }
  .infoGaleria3 .imgGaleria2 .imagen1 {
    grid-area: img1;
    background-image: url(../imagenes/Animales/img1.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 .imgGaleria2 .imagen2 {
    grid-area: img2;
    background-image: url(../imagenes/Animales/img2.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 .imgGaleria2 .imagen3 {
    grid-area: img3;
    background-image: url(../imagenes/Animales/img3.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 .imgGaleria2 .imagen4 {
    grid-area: img4;
    background-image: url(../imagenes/Animales/img4.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 .imgGaleria2 .imagen5 {
    grid-area: img5;
    background-image: url(../imagenes/Animales/img5.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria3 .imgGaleria2 .imagen6 {
    grid-area: img6;
    background-image: url(../imagenes/Animales/img6.jpg);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 200px;
  }
  .infoGaleria4 .imgGaleria3 {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 300px 700px 400px 250px 300px 200px 300px 290px;
    grid-template-areas: "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9";
  }
  .infoGaleria4 .imgGaleria3 .imagen2 {
    grid-area: img2;
    background-image: url(../imagenes/Amigos/img2.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen3 {
    grid-area: img3;
    background-image: url(../imagenes/Amigos/img3.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen4 {
    grid-area: img4;
    background-image: url(../imagenes/Amigos/img4.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen5 {
    grid-area: img5;
    background-image: url(../imagenes/Amigos/img5.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen6 {
    grid-area: img6;
    background-image: url(../imagenes/Amigos/img6.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen7 {
    grid-area: img7;
    background-image: url(../imagenes/Amigos/img7.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen8 {
    grid-area: img8;
    background-image: url(../imagenes/Amigos/img8.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
  .infoGaleria4 .imgGaleria3 .imagen9 {
    grid-area: img9;
    background-image: url(../imagenes/Amigos/img9.JPG);
    background-position: center;
    margin: 5px;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 425px) {
  .contenedorC {
    grid-template-columns: 425px;
    grid-template-rows: 400px 80px 400px 500px 250px;
    grid-template-areas: "header" "titulo" "main" "info" "footer";
  }
  .header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }
  .infoContacto1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .infoContacto2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
