
// INFORMACION DEl INDEX
.infoIndex1{
    grid-area: main;
    background-color: #b0a18f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        font-size: 25px;
        padding: 20px;
    }
    img{
        width: 500px;
        padding: 20px;
    }
}
.infoIndex2{
    grid-area: info;
    background-color: #cd8c52;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        font-size: 25px;
        padding: 20px; 
    }
    img{
        width: 300px; 
    }
}
.contactoIndex{
    grid-area: contacto;
    background-color: #fbeed3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

// INFORMACION SOBRE MI
.infoSobremi1{
    grid-area: main;
    background-color: #b0a18f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        font-size: 25px;
        padding: 20px; 
    }
    img{
        width: 450px;
    }
}
.infoSobremi2{
    grid-area: mapa;
    background-color: #f2d694;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        font-size: 25px;
        padding: 20px;  
    }
    iframe{
        padding: 20px;
    }
}
.infoSobremi3{
    grid-area: info1;
    background-color: #cd8c52;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        font-size: 22px;
        padding-top: 20px;
    }
    img{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        width: 500px; 
    }
}
.footer {
    grid-area: footer;
    background-color: #7d1a0c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin: 35px;
    }
}

// INFORMACION PRODUCTOS
.header{
    grid-area: header;
}
.titulo{
    grid-area: titulo;
}
.infoProductos1{
    grid-area: main;
    background-color: #b0a18f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p{
        text-align: center;
        font-size: 25px;
        padding: 20px;  
    }
    iframe{
        width: 900px;
        text-align: center;
        padding: 15px; 
    }
}
.infoProductos2{
    grid-area: info;
    background-color: #cd8c52;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 30px;
    div{
        p{
            text-align: center;
            font-size: 25px;
            padding: 20px;  
        }
        ul{
            text-align: center;
            font-size: 25px;
            padding: 20px;
        }
        li{
            list-style-type: none;
        }
    }
}
.infoProductos2{
    img{
        text-align: center;
        width: 400px;
        height: 300px;
        padding: 15px;
    }
}
.footer {
    grid-area: footer;
    background-color: #7d1a0c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin: 35px;
    }
}

// INFORMACION DE GALERIA
.infoGaleria1{
    background-color: #b0a18f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        font-size: 20px;
        padding: 15px;
        text-align: center;
    }
    ul{
        padding: 15px;
        font-size: 20px;
        text-align: center;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: brown;
                }
            }
        }
    }
}
.infoGaleria2{
    background-color: #cd8c52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    div{
        .imagen1{
            grid-area: imagen1;
            background-image: url(../imagenes/Viajes/img1.jpg);
            background-position: center;
            margin: 5px;
        }
        .imagen2{
            grid-area: imagen2;
            background-image: url(../imagenes/Viajes/img2.jpg);
            background-position: center;
            margin: 5px; 
        }
        .imagen3{
            grid-area: imagen3;
            background-image: url(../imagenes/Viajes/img3.JPG);
            background-position: center;
            margin: 5px;
        }
        .imagen4{
            grid-area: imagen4;
            background-image: url(../imagenes/Viajes/img4.JPG);
            background-position: center;
            margin: 5px;
        }
        .imagen5{
            grid-area: imagen5;
            background-image: url(../imagenes/Viajes/img5.jpg);
            background-position: center;
            margin: 5px;
        }
        .imagen6{
            grid-area: imagen6;
            background-image: url(../imagenes/Viajes/img6.jpg);
            background-position: center;
            margin: 5px;
        }
        .imagen7{
            grid-area: imagen7;
            background-image: url(../imagenes/Viajes/img7.jpg);
            background-position: center;
            position: contain;
            margin: 5px;
        }
        .imagen8{
            grid-area: imagen8;
            background-image: url(../imagenes/Viajes/img8.jpg);
            background-position: center;
            margin: 5px;
        }
    }
}
.infoGaleria3{
    background-color: #cd8c52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    div{
        .imagen1{
            grid-area: imagen1;
            background-image: url(../imagenes/Animales/img1.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen2{
            grid-area: imagen2;
            background-image: url(../imagenes/Animales/img2.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen3{
            grid-area: imagen3;
            background-image: url(../imagenes/Animales/img3.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen4{
            grid-area: imagen4;
            background-image: url(../imagenes/Animales/img4.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen5{
            grid-area: imagen5;
            background-image: url(../imagenes/Animales/img5.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen6{
            grid-area: imagen6;
            background-image: url(../imagenes/Animales/img6.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
    }
}
.infoGaleria4{
    background-color: #cd8c52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    div{
        .imagen1{
            grid-area: imagen1;
            background-image: url(../imagenes/Amigos/img1.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen2{
            grid-area: imagen2;
            background-image: url(../imagenes/Amigos/img2.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen3{
            grid-area: imagen3;
            background-image: url(../imagenes/Amigos/img3.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen4{
            grid-area: imagen4;
            background-image: url(../imagenes/Amigos/img4.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen5{
            grid-area: imagen5;
            background-image: url(../imagenes/Amigos/img5.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen6{
            grid-area: imagen6;
            background-image: url(../imagenes/Amigos/img6.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen7{
            grid-area: imagen7;
            background-image: url(../imagenes/Amigos/img7.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen8{
            grid-area: imagen8;
            background-image: url(../imagenes/Amigos/img8.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
        .imagen9{
            grid-area: imagen9;
            background-image: url(../imagenes/Amigos/img9.JPG);
            background-position: center;
            background-size: cover;
            margin: 5px;
        }
    }
}
.footer {
    grid-area: footer;
    background-color: #7d1a0c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin: 35px;
    }
}

// INFORMACION CONTACTO
.infoContacto1{
    grid-area: main;
    background-color: #b0a18f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    p{
        padding-top: 20px;
        font-size: 20px; 
    }
    ul{
        font-size: 20px;
        text-decoration: none;
        li{
            list-style-type: none;
            padding: 10px; 
        }
    }
}
.infoContacto2{
    grid-area: info;
    background-color: #cd8c52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        padding: 20px;
        font-size: 30px;
    }
    div{
        font-size: 20px;
        padding: 20px;
        text-align: center;
}
}
.footer {
    grid-area: footer;
    background-color: #7d1a0c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin: 35px;
    }
}
